body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    margin-bottom: 30px;

    color: var(--title-text-color);
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    @include desktop {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.17;
    }
  }
}
