/*Колір заголовків #212121 */
/*Колір тексту #757575 */
/*Колір Білий #FFFFFF */
/*Колір акценту #2196F3 */
/* Колір другорядного фону #F5F4FA */
/* Колір футера  #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-backgraund-color: #f5f4fa;
  --footer-backgraund-color: #2f303a;
}