.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    margin: 0 auto 30px;
    max-width: 360px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @include desktop {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
.overlay {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mob-2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tab.jpg);
    max-width: 768px;
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-tab-2x.jpg);
    }
  }

  @include desktop {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-desk.jpg);
    max-width: 1600px;
    height: 600px;
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-desk-2x.jpg);
    }
  }
}
